<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <!-- Gemini AI entegrasyonu için ayarlar (API anahtarınızı buraya yazın) -->
    <add key="Gemini:ApiKey" value="BURAYA_API_ANAHTARINIZI_YAZIN" />
    <add key="Gemini:BaseUrl" value="https://generativelanguage.googleapis.com/v1beta" />
    <add key="Gemini:Model" value="gemini-1.5-flash" />
  </appSettings>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="DboTicariOtomasyonEntities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DboTicariOtomasyon;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Ticari_Otomasyon.Properties.Settings.DboTicariOtomasyonConnectionString" connectionString="Data Source=DESKTOP-FTQEI8G\SQLEXPRESS;Initial Catalog=DboTicariOtomasyon;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Ticari_Otomasyon.Properties.Settings.DboTicariOtomasyonConnectionString1" connectionString="Data Source=localhost;Initial Catalog=DboTicariOtomasyon;Integrated Security=True;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>