<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ticari_Otomasyon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="DboTicariOtomasyonEntities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;&#xD;&#xA;       provider=System.Data.SqlClient;&#xD;&#xA;       provider connection string=&quot;data source=DESKTOP-FTQEI8G\SQLEXPRESS;&#xD;&#xA;       initial catalog=DboTicariOtomasyon;&#xD;&#xA;       integrated security=True;&#xD;&#xA;       multipleactiveresultsets=True;&#xD;&#xA;       trustservercertificate=True;&#xD;&#xA;       application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Ticari_Otomasyon.Properties.Settings.DboTicariOtomasyonConnectionString"
      connectionString="Data Source=DESKTOP-FTQEI8G\SQLEXPRESS;Initial Catalog=DboTicariOtomasyon;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
  <userSettings>
    <Ticari_Otomasyon.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="AuthType" serializeAs="String">
        <value />
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
    </Ticari_Otomasyon.Properties.Settings>
  </userSettings>
</configuration>